.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin: 100px;
}

.details-column {
  list-style: none;
  text-align: left;
  margin: 15px;
}

#details-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px 2px gray;
  color: yellow;
  background-image: url(https://img.freepik.com/free-photo/3d-hyperspace-background-with-warp-tunnel-effect_1048-12526.jpg?w=1060&t=st=1658949296~exp=1658949896~hmac=c57ead6531af09640a104a1c9f725580c117692466c3a0dce0bcf82f38a655d9);
}

#spacer {
  margin-left: 5px;
}

button:hover {
  background-color: darkslategray;
  color: gold;
  transition: 500ms;
}

button:active {
  background-color: whitesmoke;
  color: black;
}